*build*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.bag
*.bak
*.dir
*.dat
*.pyc
/venv/*
.idea/*
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dictionaries/pucan.xml
.idea/CouplingSLAM.iml
*.xml
.idea/workspace.xml___jb_old___
