arviz==0.8.3
Cython==0.29.28
dynesty==1.1
evo==1.18.0
matplotlib==3.5.1
numpy==1.19.5
pandas==1.4.1
pingouin==0.5.1
pygame==2.1.2
pymc3==3.8
pyquaternion==0.9.9
scikit_learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
setuptools==58.0.4
statsmodels==0.13.2
torch==1.10.2
TransportMaps==2.0b3
